* {
    padding: 0;
    border: none;
    text-decoration: none !important;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'roboto', sans-serif;
}

h2 {
    font-size: 1.35rem;
}

h3 {
    font-size: 1.20rem;
}

header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;

    z-index: 2;
}

button:not(.btn) {
    border: none;
    padding: 0.75rem 1rem;
    background: none;

    cursor: pointer;
}


.big-spaces {
    padding: 1rem 2rem;
}

button:not(.btn).nav-btn {
    background: #fff;

    border-radius: 0 0 0.75rem 0.75rem;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);

    color: var(--primary);
    font-weight: 600;
    font-size: 14px;

    font-family: "Lato", sans-serif;

    transition: .3s;
}

button:not(.btn):hover {
    box-shadow: none;
    border-radius: 0;
}

.welcome {
    background-color: #8691B8;
    height: 40vw;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome h1 {
    color: #fff;
    font-size: 54px;
}

.welcome h2 {
    color: #fff;
}

.welcome .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 7%;
}

.welcome .photo img {
    width: 330px;
    height: 330px;
}

.welcome .photo {
    display: flex;
}

.interests {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.interests .text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.interests .text h3 {
    text-align: center;
}

.interests img {
    width: 30%;
    height: 380px;
    object-fit: cover;
}

.interests .photo {
    display: flex;
    justify-content: space-around;
}

.skills .zagolovok {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.skills .text {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.skills .text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills .text h3 {
    text-align: center;
}

.skills .text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills .image {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.skills .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.skills .image img:nth-child(1) {
    grid-row: 1/3;
    grid-column: 2/4;
    padding: 5px;
}

.skills .image img:nth-child(2) {
    grid-row: 1/3;
    grid-column: 4/10;
    padding: 5px;
}

.skills .image img:nth-child(3) {
    grid-row: 3/5;
    grid-column: 2/6;
    padding: 5px;
}

.skills .image img:nth-child(4) {
    grid-row: 3/5;
    grid-column: 6/10;
    padding: 5px;
}