* {
    padding: 0;
    border: none;
    text-decoration: none !important;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'roboto', sans-serif;
}

h2 {
    font-size: 1.35rem;
}

h3 {
    font-size: 1.20rem;
}

header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;

    z-index: 2;
}

button:not(.btn) {
    border: none;
    padding: 0.75rem 1rem;
    background: none;

    cursor: pointer;
}


.big-spaces {
    padding: 1rem 2rem;
}

button:not(.btn).nav-btn {
    background: #fff;

    border-radius: 0 0 0.75rem 0.75rem;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);

    color: var(--primary);
    font-weight: 600;
    font-size: 14px;

    font-family: "Lato", sans-serif;

    transition: .3s;
}

button:not(.btn):hover {
    box-shadow: none;
    border-radius: 0;
}

.welcome {
    background-color: #8691B8;
    height: 60vw;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome h1 {
    color: #fff;
    font-size: 54px;
}

.welcome h2 {
    color: #fff;
}

.welcome .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 7%;
}

.welcome .photo img {
    width: 330px;
    height: 330px;
}

.welcome .photo {
    display: flex;
}

.interests {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.interests .text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.interests .text h3 {
    text-align: center;
}

.interests img {
    width: 30%;
    height: 380px;
    object-fit: cover;
}

.interests .photo {
    display: flex;
    justify-content: space-around;
}

.skills .zagolovok {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.skills .text {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.skills .text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills .text h3 {
    text-align: center;
}

.skills .text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills .image {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.skills .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.skills .image img:nth-child(1) {
    grid-row: 1/3;
    grid-column: 2/4;
    padding: 5px;
}

.skills .image img:nth-child(2) {
    grid-row: 1/3;
    grid-column: 4/10;
    padding: 5px;
}

.skills .image img:nth-child(3) {
    grid-row: 3/5;
    grid-column: 2/6;
    padding: 5px;
}

.skills .image img:nth-child(4) {
    grid-row: 3/5;
    grid-column: 6/10;
    padding: 5px;
}

.portfolio .button {
    display: flex;
    justify-content: center;
}

.portfolio .button a {
    padding: 5px 30px !important;
    display: block;
    color: white;
    width: 190px;
    background-color: #000000;
    border-radius: 7px;

}

.portfolio .zagolovok {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 40px;
}

.practice .razvetv {
    display: flex;
    justify-content: space-around;
}

.practice img {
    width: 85%;
}

.practice .photo {
    display: flex;
    justify-content: center;
}

.practice .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}

.practice .text p {
    text-align: center;
}

.portfolio .button a:hover {
    color: #000000 !important;
    transition: 300ms ease-in-out;
    background-color: #8691B8;
}

.monochrome img {
    width: 85%;
}

.monochrome {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.monochrome p {
    text-align: center;
}

.monochrome .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-right: 10px;
}

.monochrome .photo {
    display: flex;
    justify-content: center;
}

.btn-primary {
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: none !important;
    --bs-btn-hover-bg: #8691B8 !important;
    --bs-btn-active-bg: var(--primary-active)
}

.btn-lg {
    --bs-btn-border-radius: 0;
}

.career .text-photo {
    display: flex;
    justify-content: space-around;
}

.career .photo img {
    width: 85%;
    border-radius: 20px;
}

.career .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.career .zagolovok {
    display: flex;
    justify-content: center;
}

.meal_plane button {
    color: #fff;
    background-color: #000000;
}

.form-control {
    background-color: #8691B8 !important;
    opacity: 0.6;
    border-color: black !important;
}

.registration h2 {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background: #8691B8;
    color: #fff;
    padding: 5rem 0;
}

footer .links {
    color: #BBBBBB;
}

footer .row .col {
    width: max-content;
}

footer p {
    margin: 0;
}

footer h6 {
    font-weight: 600;
}

@media (max-width:720px) {
    .skills .texth1 {
        font-size: 36px;
    }

    .skills .text h2 {
        font-size: 24px;
    }

    .skills .text h3 {
        font-size: 14px;
    }

    .welcome {
        height: 100vw;
    }

    .welcome h1 {
        font-size: 36px;
    }

    .welcome h2 {
        font-size: 20px;
    }

    header {
        font-size: 10px;
        flex-direction: column;
        align-items: center;
        gap: 3px;

    }

    button:not(.btn).nav-btn {
        border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
        font-size: 10px;
    }

    .interests h1 {
        font-size: 36px;
    }

    .interests h3 {
        font-size: 14px;
        padding: 20px;
    }

    .portfolio .zagolovok h1 {
        font-size: 36px;
    }
}

@media (max-width:500px) {
    .skills .text h1 {
        font-size: 32px;
    }

    .skills .text h2 {
        font-size: 20px;
    }

    .skills .text h3 {
        font-size: 14px;
    }

    .welcome {
        height: 130vw;
    }

    .welcome .photo img {
        width: 60%;
        height: 60%;
    }

    .welcome .photo {
        justify-content: center;
    }

    .welcome h1 {
        font-size: 32px;
    }

    .welcome h2 {
        font-size: 16px;
    }

    header {
        font-size: 10px;
        flex-direction: column;
        align-items: center;
        gap: 3px;

    }

    button:not(.btn).nav-btn {
        border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
        font-size: 10px;
    }

    .interests h1 {
        font-size: 32px;
    }

    .interests h3 {
        font-size: 14px;
        padding: 20px;
    }

    .portfolio .zagolovok h1 {
        font-size: 32px;
    }

    .career .text p{
        font-size: 14px;
    }
    .monochrome p{
        font-size: 14px;
    }
    .practice p{
        font-size: 14px;
    }
    .interests img{
        height: 250px;
    }
}
@media (max-width:370px) {
    .career .photo img{
        height: 200px;
        width: 180px;
        padding-right: 5px;
    }
    .skills .image{
        gap: 2px;
    }
    .welcome {
        height: 160vw;
    }
    
}
@media (max-width:330px) {
    .career .photo img{
        width: 150px;
        height: auto;
    }
}