* {
    padding: 0;
    border: none;
    text-decoration: none !important;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'roboto', sans-serif;
}

h2 {
    font-size: 1.35rem;
}

h3 {
    font-size: 1.20rem;
}

header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;

    z-index: 2;
}

button:not(.btn) {
    border: none;
    padding: 0.75rem 1rem;
    background: none;

    cursor: pointer;
}


.big-spaces {
    padding: 1rem 2rem;
}

button:not(.btn).nav-btn {
    background: #fff;

    border-radius: 0 0 0.75rem 0.75rem;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);

    color: var(--primary);
    font-weight: 600;
    font-size: 14px;

    font-family: "Lato", sans-serif;

    transition: .3s;
}

button:not(.btn):hover {
    box-shadow: none;
    border-radius: 0;
}